:root {
	--reset-css-font-size: 10pt;
	--reset-css-space: 1.5rem;
}

html,
body {
	background-color: var(--reset-css-background-secondary);
}

body {
	min-width: 32rem;
	padding: var(--reset-css-space);
}

main {
	display: flex;
	text-align: center;
	align-items: stretch;
}

h1 {
	text-transform: uppercase;
}

.aurebesh {
	font-family: 'Aurebesh AF Canon';
	text-transform: uppercase;
	opacity: 0.5;
	font-size: 0.5em;
	margin-bottom: -0.5em;
	display: block;
}

table {
	width: 100%;
}

tbody td:nth-child(2) {
	width: 100%;
}

main label select {
	display: inline;
	width: auto;
}
